@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

@keyframes rotation {

  0% {
    transform: rotateZ(0deg) scale(1.1);
  }

  25% {
    transform: scale(1.1);
    transform: rotateZ(-90deg);
  }

  50% {
    transform: rotateZ(-180deg) scale(1.1);
  }

  75% {
    transform: scale(1.1);
    transform: rotateZ(-270deg);
  }

  100% {
    transform: rotateZ(-360deg) scale(1.1);
  }
}

@keyframes arrow {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(6px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes arrowdown {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateY(6px);
  }

  100% {
    transform: translateX(0px);
  }
}